.mainBox {
    position: relative;
    width: 800px;
    min-height: 85vh;
    margin-left: 200px;
}
.bottomBox {
    height: 50px;
    width: 800px;
    position: absolute;
    bottom: -100px;
    left: 0px;
    border-top: 1px solid #EEE;
}
